/*primario fuerte:#451952;
secundario menos fuerte :#662549;
tercero mas clarito:#AE445A;
cuarto naranjita:#F39F5A
colores de mi sitio web


https://media.tenor.com/_zbsJOBoVOEAAAAC/banner.gif (imagen gif para un banner) 

*/


header{
    cursor: pointer;
}
.bg-primary{
    background-image:url(https://data.terabox.com/thumbnail/37b6bf84a747d1ba2d8c38445f919a79?fid=4401295839289-250528-94010984381712&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-%2fFimX6GZnbADIeq%2f%2fnrZm33FOq8%3d&expires=8h&chkbd=0&chkv=0&dp-logid=8872464859280062755&dp-callid=0&time=1701259200&size=c1024_u768&quality=90&vuk=4401295839289&ft=image&autopolicy=1);
    background-repeat: repeat;
    background-position: center;
    background-size: cover; /
    
}
    


.text-light{
    color:#F39F5A !important; /*la etiqueta la puse para que lo tome SI O SI */
}
.primerP{
font-size: large;
}
.primerP:hover{
color: #EF9595 !important; /* important para que si o si lo cambie*/
font-weight: bold;
}

.text-center{
    text-align: center;
}
body{
    background-image: url(https://data.terabox.com/thumbnail/d4844887024e8f6dded5902fc7dc853c?fid=4401295839289-250528-1048638438908069&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-bV1oHtznpnZ2H2A0MS6noO3L8%2fw%3d&expires=8h&chkbd=0&chkv=0&dp-logid=8872447123697898478&dp-callid=0&time=1701259200&size=c1024_u768&quality=90&vuk=4401295839289&ft=image&autopolicy=1);
}

nav{
    text-align: center;/*paracentrar el texto*/
}
.habilidades {
    display: flex; /* Cambiando el display a flexible (flexbox) */
    justify-content: space-between; /* Distribuir los elementos con espacio entre ellos */
}
.sobreMi{
    display: flex; /* cambio el display a flexible */
    justify-content: space-between; /* Distribuir los elementos con espacio entre ellos */
}

.contact{
    display: flex; /* cambio el display a flexible (flexbox) */
    justify-content: space-between; /* Distribuir los elementos con espacio entre ellos */


}.sobreMi .card {
    background-color: lightblue; /* pongo el fondo de la tarjeta 'Sobre mi' en otro color */
    color: navy; /* pongo color del texto en la tarjeta 'Sobre mi'  en azul para que combine Jaja  */
}

.habilidades .card{
    background-color: lightblue;
    color: navy;
}

.contact .card{
    background-color: lightblue;
    color: navy;
}
button{
    border-radius: 10px;
}
button:hover {
    background-color: yellow; /* Cambia el fondo a amarillo cada vez que paso por encima */
    color:red;
}

.card:hover{
    color: yellow;
    background-color:  navy;
}

h1:hover{
    color: #AE445A !important; /*para que si o si lo cambie*/
}

@keyframes moverIzquierdaDerecha {
    0% {
        transform: translateX(0); /* No se desplaza al inicio */
    }
    50% {
        transform: translateX(10%); /* Se desplaza para la derecha */
    }
    100% {
        transform: translateX(0); /* Vuelve al comienzo */
    }
}
.moving-text {
    animation: moverIzquierdaDerecha 10s infinite; /* Aplica la animación al texto */
}

